<!--component html goes here -->
<!--component html goes here -->
<div class="container">
    <!-- Content here -->
    <div class="row">
        <div class="col-sm">
            <div class="form-group">
                <form (ngSubmit)="onSave()" novalidate #f="ngForm">

                    <mat-card>
                        <mat-card-header>
                            <!-- <div mat-card-avatar class="example-header-image"></div> -->
                            <mat-card-title>Container</mat-card-title>
                            <mat-card-subtitle>Master Definintion</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <mat-form-field>
                                <mat-label>Container Name</mat-label>
                                <input matInput placeholder="Enter Container Name" [(ngModel)]="container.containerName" name="containerName" #containerName="ngModel"
                                    required>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-label>Container Description</mat-label>
                                <textarea matInput placeholder="Enter Description" [(ngModel)]="container.containerDescription" maxlength="255" name="containerDescription"
                                    #containerDescription="ngModel" required></textarea>
                            </mat-form-field>
                            <div>

                                <div class="col-sm-3 text-right">
                                    <button mat-fab color="warn" type="button" class="reset-btn-margin" matTooltip="Reset" matTooltipPosition="below" (click)="onReset(container)">
                                        <mat-icon aria-label="reset">clear</mat-icon>
                                    </button>
                                    <button type="submit" mat-fab color="primary" matTooltip="Save" matTooltipPosition="below" [disabled]="f.invalid">
                                        <mat-icon aria-label="Save">done</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>

                </form>

            </div>
        </div>
    </div>
    <list [tableHeaders]="tableHeaderList"></list>

</div>